.container1{
    margin-left: 0rem;
}


form{
    text-align: left;
    margin-top: 1.5rem;
}

.name{
    font-size: 0.7rem;
    line-height: 1rem;
    color:#223C53;
    font-weight: 600;
}

.input1{
    margin-top: 0.3rem;
    width: 22rem;
    border-width: 2px;
    height: 2.5rem;
    border-radius: 0.4rem;
    padding-left: 0.5rem;
}

.input1::placeholder{
    opacity: 1rem;
    font-weight: 600;
    font-size: 0.85rem;
    font-family:ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin:1.5rem ;
}

.emailaddress{
    font-size: 0.75rem/* 12px */;
    line-height: 1rem;
    color:#223C53;
    font-weight: 600;
    margin-top: 1rem
}

.input2{
    margin-top: 0.3rem;
    width: 22rem;
    height: 2.5rem;
    border-width: 2px;
    border-radius: 0.4rem;
    padding-left: 0.5rem;
}

.input2::placeholder{
    opacity: 1;
    font-weight: 600;
    font-size: 0.85rem;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 1.5rem;
}

.phonenumber{
    font-size: 0.75rem;
    line-height: 1rem;
    color:#223C53;
    font-weight: 600;
    margin-top: 1rem;
}

.input3{
    margin-top: 0.3rem;
    width: 22rem;
    border-width: 2px;
    height: 2.5rem;
    border-radius:0.4rem;
    padding-left: 0.5rem
}

.input3::placeholder{
    opacity: 1;
    font-weight: 600;
    font-size: 0.85rem;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 1.5rem;
}

.error{
    color:red;
}

.btn{
    margin-top: 4rem;
    height: 2.25rem;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.5rem;
    width: 6rem;
    margin-left: 16rem;
    background-color: #03295A;
    color:white;
    border-radius: 0.25rem
}